.image-picker input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    background: none;
    cursor: inherit;
    display: block;
}
.image-picker .img-upload-area{
    padding: 10px 20px;
}
.img-upload-area:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
.image-picker .btn-file{
    position: relative;
    overflow: hidden;
}
.image-picker .help-inline-block{
    display: inline-block;
    padding-right: 10px;
    font-size: 14px;
}
.image-picker .img-list-container {
    position: relative;
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}
.image-picker .icon-loading-small {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}
/*item*/
.image-picker .img-item .item-label{
    height: 31px;
}
.image-picker .img-item .lbl-content{
    width: 100%;overflow: hidden;word-break:keep-all;white-space:nowrap;
    margin: 0;
}
.image-picker .img-item-bd{
    position: relative;
}
/*mask*/
.image-picker .img-item-bd.selected .selected-mask {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 35px;
}
.image-picker .img-item-bd.selected .selected-mask-inner {
    width: 100%;
    height: 100%;
    -moz-opacity: .6;
    -khtml-opacity: .6;
    opacity: .6;
    background-color: #000;
    filter: alpha(opacity=60);
}
.image-picker .img-item-bd.selected .selected-mask-icon {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent url(/img/selected.png) no-repeat 0 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    background-position: 50% 50%;
}
/*--mask--*/
/*loading area*/
.icon-loading-small.white{
    background: transparent url("/img/loading.gif");
}
.icon-loading-small {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    line-height: 100px;
    overflow: hidden;
}

/*paginate*/
.pagination {
    display: block;
    text-align: right;
    padding: 10px 20px;
    margin: 10px 0 0;
}
.page-nav-area {
    letter-spacing: 4px;
}
.page-nav-area, .goto-area {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
}
.btn.page-prev, .btn.page-next {
    position: relative;
    font-size: 0;
    letter-spacing: -5px;
    background-color: #fff;
    background-image: -moz-linear-gradient(top,#fff 0,#fff 100%);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#fff));
    background-image: -webkit-linear-gradient(top,#fff 0,#fff 100%);
    background-image: -o-linear-gradient(top,#fff 0,#fff 100%);
    background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
    border-color: #e6e7ec;
    color: #222;
    height: 30px;
    line-height: 30px;
    width: auto;
    padding-left: 14px;
    padding-right: 14px;
}
.btn.page-prev .arrow, .btn.page-next .arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -3px;
}
.page-prev .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed;
    border-color: transparent;
    border-left-width: 0;
    border-right-color: #919191;
    border-right-style: solid;
}
.page-next .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed;
    border-color: transparent;
    border-right-width: 0;
    border-left-color: #919191;
    border-left-style: solid;
}
.page-num {
    padding: 0 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    letter-spacing: normal;
}
.goto-area {
    margin-left: 8px;
}
.goto-area input[type="text"] {
    vertical-align: middle;
    width: 75px;
    /*height: 22px;*/
    line-height: 22px;
    padding: 4px 0;
    border: 1px solid #e7e7eb;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;
    font-size: 14px;
    margin-right: 4px;
}
/*show tips*/
.image-picker .msg-box{
    float:left;
}
.msg-box .info{color: inherit;}
.msg-box .error{color: #d9534f;}
.msg-box .success{color: #5cb85c;}
/*progress bar*/
.image-picker .upload_progress_bar{
    display: none;
}

/* upload box */
.upload-box{
    position: relative;
    background-color: #E8E7E7;
    /*padding: 0;
    margin: 0;*/
}
.upload-box:after, .upload-box:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #fff;
}
.upload-flag:before{
    width: 2px;
    height: 40px;
}
.upload-flag:after{
    width: 40px;
    height: 2px;
}

.delete-cover {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #e22b2b;
    opacity: 0.8;
    text-align: center;
    color: whitesmoke;
    padding: 2px;
    display: none;
    cursor: pointer;
}

.contain {
    object-fit: contain;
}
.object-fit {
    width: 100%;
    height: 100%;
}

/*固定比例容器*/
.scale{
    height: 0;
    position: relative;
}
.w-4-3-h{
    padding-bottom: 75%;
}
.w-5-3-h{
    padding-bottom: 60%;
}
.w-16-9-h{
    padding-bottom: 56.25%;
}
.w-5-2-h{
    padding-bottom: 40%;
}
.w-1-1-h{
    padding-bottom: 100%;
}
.w-2-1-h{
    padding-bottom: 50%;

}
.scale .scale-box{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 100%;
    height: 100%;
}
/*end 固定比例容器*/